venv
pycache
volumes
.env
.vscode
__pycache__/
D:\DdriveCodes\SIH\app\helpers\kisaandvaar-firebase-adminsdk-t83e9-f6d6bf9844.json
D:\DdriveCodes\SIH\app\helpers\google-services.json
D:/DdriveCodes/SIH/app/helpers/kisaandvaar-firebase-adminsdk-t83e9-f6d6bf9844.json
D:/DdriveCodes/SIH/app/helpers/google-services.json
app/helpers/kisaandvaar-firebase-adminsdk-t83e9-f6d6bf9844.json
app/helpers/google-services.json